#invoice_body .invoice {
  padding: 30px;
}
#invoice_body .invoice h2 {
  margin-top: 0px;
  line-height: 0.8em;
}
#invoice_body .invoice .small {
  font-weight: 300;
}
#invoice_body .invoice hr {
  margin-top: 10px;
  border-color: #ddd;
}
#invoice_body .invoice .table tr.line {
  border-bottom: 1px solid #ccc;
}
#invoice_body .invoice .table td {
  border: none;
}
#invoice_body .invoice .identity {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: 300;
}
#invoice_body .invoice .identity strong {
  font-weight: 600;
}
#invoice_body .grid {
  position: relative;
  width: 100%;
  background: #fff;
  color: #666666;
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
@media print {
  #invoice_body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 99;
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  #invoice_body .grid {
    box-shadow: none;
  }
  #invoice_body::-webkit-scrollbar {
    width: 0px;
  }
  #invoice_body::-webkit-scrollbar-track {
    background: transparent;
  }
  #invoice_body::-webkit-scrollbar-thumb {
    background: transparent;
  }
  #invoice_body::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}
.custom_scroll {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.custom_scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.custom_scroll::-webkit-scrollbar-track {
  background: #f1f1f173;
}
.custom_scroll::-webkit-scrollbar-thumb {
  background: #37630352;
  border-radius: 25px;
}
.custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #3a6506;
}
.schedule_body {
  display: flex;
  overflow-x: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.schedule_body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.schedule_body::-webkit-scrollbar-track {
  background: #f1f1f173;
}
.schedule_body::-webkit-scrollbar-thumb {
  background: #37630352;
  border-radius: 25px;
}
.schedule_body::-webkit-scrollbar-thumb:hover {
  background: #3a6506;
}
.schedule_body .left {
  border: 1px solid #52782547;
  width: 160px;
}
.schedule_body .left h6 {
  text-align: center;
  margin: 0;
  font-weight: 500;
  padding: 10px 0px 11px;
}
.schedule_body .left .schedule_patient_body {
  padding-top: 50px;
}
.schedule_body .left .schedule_patient_body .single_patient {
  border-bottom: 1px solid rgba(128, 128, 128, 0.185);
  padding: 5px 10px;
  height: 54.4px;
}
.schedule_body .left .schedule_patient_body .single_patient:first-child {
  border-top: 1px solid rgba(128, 128, 128, 0.185);
}
.schedule_body .left .schedule_patient_body .single_patient:last-child {
  border-bottom: 0;
}
.schedule_body .right {
  border: 1px solid #52782547;
  border-left: 0;
  flex: 1;
  min-width: 400px;
}
.schedule_body .right h6 {
  text-align: center;
  margin: 0;
  font-weight: 500;
  padding: 10px 0px;
}
.schedule_body .right .time_slot_body {
  display: flex;
  position: relative;
  border-bottom: 1px solid #52782547;
}
.schedule_body .right .time_slot_body .slot {
  flex: 1;
  text-align: center;
  border-top: 1px solid #52782547;
  border-right: 1px solid #52782547;
  line-height: 23px;
}
.schedule_body .right .time_slot_body .slot:last-child {
  border-right: 0;
}
.schedule_body .right .time_slot_block {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #52782547;
  position: relative;
}
.schedule_body .right .time_slot_block .time_slot_marker {
  position: absolute;
  height: 100%;
  background-color: #527825b3;
  left: 10%;
  top: 0;
  width: 20%;
  cursor: pointer;
}
.schedule_body .right .time_slot_block:last-child {
  border-bottom: 0;
}
.height_300 {
  height: 300px;
}
